<!--  This file is app/views/movies/index.html.erb -->
<h2>All Movies</h2>

<%#  Part 2: Start here... %>

<form>
  Include:
  <label for="grating">G</label>
  <input type="checkbox" id="grating" name="grating"></input> 
  <label for="pgrating">PG</label>
  <input type="checkbox" id="pgrating" name="pgrating"></input>
  <label for="pg13rating">PG-13</label>
  <input type="checkbox" id="pg13rating" name="pg13rating"></input>
  <label for="rrating">R</label>
  <input type="checkbox" id="rrating" name="rrating"></input>
  <input type = "submit" value = "Refresh"><br>
</form>

<table class="table table-striped col-md-12" id="movies">
  <thead>
    <tr>
      <th><%= sortable "title", "Movie Title" %></th>
      <th>Rating</th>
      <th><%= sortable "release_date","Release Date" %></th>
      <th>More Info</th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td>
          <%= movie.title %>
        </td>
        <td>
          <%= movie.rating %>
        </td>
        <td>
          <%= movie.release_date %>
        </td>
        <td>
          <%= link_to "More about #{movie.title}", movie_path(movie) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Add new movie', new_movie_path, :class => 'btn btn-primary' %>